.logo {
    // Стили для контейнера
    display: flex;
    align-items: center;
    
    img {  // ← стили для картинки внутри
        height: 100px;
        width: auto;
        object-fit: contain;
        border-radius: 10px;
    }
}