@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../src/assets/fonts/Roboto-Italic.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #1a252f;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffffff;
}
