.homePage {
  min-height: 100vh;          // Минимальная высота во весь экран
  display: flex;
  flex-direction: column;     // Располагаем дочерние элементы в колонку
}

main {
  flex: 1;                    // Занимаем всё доступное пространство
}