.homePage {
  min-height: calc(100vh - 235px);          // Минимальная высота во весь экран
  display: flex;
  flex-direction: column;     // Располагаем дочерние элементы в колонку
}

// main {
//   flex: 1;   
// }